doctype html
// Inspired by HTML5 UP Future Imperfect
html
	head
		title Discussion Forum 
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
		link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.0.8/css/all.css')
		link(rel='stylesheet', href='../views/discussion-board/assets/css/discussion-forum-mainStyle.css')
		// Navigation Bar
		link(rel='stylesheet', href='../views/navigation-bar/assets/css/nav-main.css')
		noscript
			link(rel='stylesheet', href='../views/navigation-bar/assets/css/noscript.css')
		link(rel='stylesheet', href='../views/navigation-bar/assets/css/logout.css')
		// Jquery
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
	// Navigation Bar
	body.is-preload
		header#navigation-header
			h1
				a(href='/catalogue') Catalogue
			nav#nav
				ul
					li.special
						// menu text deleted
						a.menuToggle(href='#menu')
						#menu
							// Profile Photo
							.navigation-profile-upload-container
								a(href='#')
									span.fas.fa-camera
								img.img-thumbnail.img-circle.img-responsive(src="../images/"+user.displayPic._id, alt='profile photo')
							// Username :-> leads to the profile page
							.user-name(style='text-align: center;')
								a(href='#')
									h2.underline-animation #{user.name}
							// User Profile Information
							.user-info
								h3 #{user.relationship}
								h3 #{user.artifacts.length} Artifacts contributed
								h3#join-date
									i.far.fa-clock
								script.
									function english_ordinal_suffix(dt)
									{
										return dt.getDate()+(dt.getDate() % 10 == 1 && dt.getDate() != 11 ? 'st' : (dt.getDate() % 10 == 2 && dt.getDate() != 12 ? 'nd' : (dt.getDate() % 10 == 3 && dt.getDate() != 13 ? 'rd' : 'th')));
									}
									var user = !{JSON.stringify(user)};
									var date = new Date(user.dateJoined);
									console.log(typeof date);
									var mm = date.toLocaleString('default', { month: 'long' });
									var yyyy = date.getFullYear();
									document.getElementById('join-date').appendChild(document.createTextNode(' '+mm+" "+english_ordinal_suffix(date)+" "+yyyy));
								div(hidden='')
									| Icons made by
									a(href='https://www.flaticon.com/authors/freepik', title='Freepik') Freepik
									|  from
									a(href='https://www.flaticon.com/', title='Flaticon') www.flaticon.com
							// Home Button
							.home-button-container
								a.home-button(href='')
									img#home-icon-img(src='https://image.flaticon.com/icons/svg/1300/1300624.svg', alt='home-button')
									.home HOME
							// Logout Button
							.logout-container
								form#form1(action='/logout', method='POST')
									a.logout-button(href='javascript:;', onclick="document.getElementById('form1').submit();")
										img#logout-photo(src='https://image.flaticon.com/icons/svg/1300/1300674.svg', alt='logout button')
										.logout LOGOUT
		// Wrapper
		#wrapper(style='margin-top: 50px;')
			// Sidebar + Header
			section#sidebar
				// Intro
				section#intro
					// <a href="#" class="logo"><img src="images/logo.jpg" alt="" /></a>
					header
						p discussion board 
			// Main
			#main
				each issue, index in issues
					// Issues
					article.issue
						header
							// Issue title + short description
							.issue-title
								h2
									a(href='/discussion-board/'+issue.id) #{issue.topic}
							// Posted Time + Profile photo
							.issue-info
								time.published#published
								script.
									var issue = !{JSON.stringify(issue)};
									var date = new Date(issue.dateCreated);
									var dd = date.toLocaleString('default', { day: '2-digit'});
									var mm = date.toLocaleString('default', { month: 'long' });
									var yyyy = date.getFullYear();
									document.getElementsByClassName("published")[#{index}].innerHTML = "Published on " + "</br>" + dd+" "+mm+" "+yyyy;
								a.author(href='#')
									span.name #{issue.author}
									img(src="../images/"+issue.authorID.displayPic._id, alt='profile photo')
						// Image if there's any
						a.image.featured(href='#')
							img(src='', alt='')
						// Details
						p #{issue.content}
						footer
							// Get rid of this
							ul.actions
								li
									a.button.small(href='/discussion-board/'+issue.id) Continue Reading
							// the Number of Likes and Comments
							ul.stats
								li
									a.icon.solid.fa-comment(href='#') #{issue.comments.length}
							br
				// Pagination
				ul.actions.pagination
					li
						a.disabled.button.large.previous(href='') Previous Page
					li
						a.button.large.next(href='#') Next Page
			// Navigation Bar Scripts
			script(src='../views/navigation-bar/assets/js/jquery.min.js')
			script(src='../views/navigation-bar/assets/js/jquery.scrollex.min.js')
			script(src='../views/navigation-bar/assets/js/jquery.scrolly.min.js')
			script(src='../views/navigation-bar/assets/js/browser.min.js')
			script(src='../views/navigation-bar/assets/js/breakpoints.min.js')
			script(src='../views/navigation-bar/assets/js/util.js')
			script(src='../views/navigation-bar/assets/js/main.js')
