doctype html
html(lang='en')
	head
		title Issue Details Page
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
		link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.0.8/css/all.css')
		link(rel='stylesheet', href='../views/discussion-board/assets/css/discussion-forum-mainStyle.css')
		link(rel='stylesheet', href='../views/discussion-board/assets/css/issue-details-extraStyle.css')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		link(rel='stylesheet', href='../views/discussion-board/emoji-assets/css/reset.css')
		link(rel='stylesheet', href='../views/discussion-board/emoji-assets/css/style.css')
		link(rel='stylesheet', href='../views/discussion-board/emoji-assets/css/stylesheet.css')
		script(src='../views/discussion-board/emoji-assets/js/jquery.emojiarea.js')
		// Navigation Bar
		link(rel='stylesheet', href='../views/navigation-bar/assets/css/nav-main.css')
		noscript
			link(rel='stylesheet', href='../views/navigation-bar/assets/css/noscript.css')
		link(rel='stylesheet', href='../views/navigation-bar/assets/css/logout.css')
		// Jquery
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
	// Navigation Bar
	body.is-preload
		header#navigation-header
			h1
				a(href='/catalogue') Catalogue
			nav#nav
				ul
					li.special
						// menu text deleted
						a.menuToggle(href='#menu')
						#menu
							// Profile Photo
							.navigation-profile-upload-container
								a(href='#')
									span.fas.fa-camera
								img.img-thumbnail.img-circle.img-responsive(src="../images/"+user.displayPic._id, alt='profile photo')
							// Username :-> leads to the profile page
							.user-name(style='text-align: center;')
								a(href='#')
									h2.underline-animation #{user.name}
							// User Profile Information
							.user-info
								h3 #{user.relationship}
								h3 #{user.artifacts.length} Artifacts contributed
								h3#join-date
									i.far.fa-clock
								script.
									function english_ordinal_suffix(dt)
									{
										return dt.getDate()+(dt.getDate() % 10 == 1 && dt.getDate() != 11 ? 'st' : (dt.getDate() % 10 == 2 && dt.getDate() != 12 ? 'nd' : (dt.getDate() % 10 == 3 && dt.getDate() != 13 ? 'rd' : 'th')));
									}
									var user = !{JSON.stringify(user)};
									var date = new Date(user.dateJoined);
									console.log(typeof date);
									var mm = date.toLocaleString('default', { month: 'long' });
									var yyyy = date.getFullYear();
									document.getElementById('join-date').appendChild(document.createTextNode(' '+mm+" "+english_ordinal_suffix(date)+" "+yyyy));
								div(hidden='')
									| Icons made by
									a(href='https://www.flaticon.com/authors/freepik', title='Freepik') Freepik
									|  from
									a(href='https://www.flaticon.com/', title='Flaticon') www.flaticon.com
							// Home Button
							.home-button-container
								a.home-button(href='')
									img#home-icon-img(src='https://image.flaticon.com/icons/svg/1300/1300624.svg', alt='home-button')
									.home HOME
							// Logout Button
							.logout-container
								form#form1(action='/logout', method='POST')
									a.logout-button(href='javascript:;', onclick="document.getElementById('form1').submit();")
										img#logout-photo(src='https://image.flaticon.com/icons/svg/1300/1300674.svg', alt='logout button')
										.logout LOGOUT
		// Wrapper
		#wrapper
			#main
				// Issue 1
				article.issue
					// Author
					header
						a.author(href='#')
							img(src="../images/"+issue.authorID.displayPic._id, alt='profile photo')
						h4(style='color:black;') #{issue.topic}
						.resolve-button-wrapper
							a.resolve-button(href='/re-issue') Resolve
					// Details
					p #{issue.content}
					footer
						// the Number of Likes and Comments
						ul.stats
							li
								a.icon.solid.fa-comment(href='#') #{issue.comments.length}
						ul.posted-time(style="margin-right: 2em;")
							span#date
							script.
								function english_ordinal_suffix(dt)
								{
									return dt.getDate()+(dt.getDate() % 10 == 1 && dt.getDate() != 11 ? 'st' : (dt.getDate() % 10 == 2 && dt.getDate() != 12 ? 'nd' : (dt.getDate() % 10 == 3 && dt.getDate() != 13 ? 'rd' : 'th')));
								}
								var issue = !{JSON.stringify(issue)};
								var date = new Date(issue.dateCreated);
								console.log(typeof date);
								var mm = date.toLocaleString('default', { month: 'long' });
								var yyyy = date.getFullYear();
								document.getElementById('date').appendChild(document.createTextNode("Created on "+mm+" "+english_ordinal_suffix(date)+" "+yyyy));
						ul.direct-reply
							a(href='#direct-reply')
								i.fas.fa-reply
				// Posted Replies
				article.comment-container
					// the Number of Total Comments
					header
						h4(style='color:black;') Comment (#{issue.comments.length})
					.comment-wrapper
						each comment, index in issue.comments
							.comment
								// Profile Photo + Username
								a.comment-author(href='/profile')
									img(src="../images/"+comment.authorID.displayPic._id, alt='profile photo')
									| #{comment.author}
								// Actual Comment
								p.comment-content  #{comment.content}
								footer
								// Comment time
								ul.posted-time
									span.posted-date
									script.
										var artifact = !{JSON.stringify(comment)};
										var date = new Date(artifact.date);
										var dd = date.toLocaleString('default', { day: '2-digit'});
										var mm = date.toLocaleString('default', { month: 'long' });
										var yyyy = date.getFullYear();
										document.getElementsByClassName('posted-date')["#{index}"].appendChild(document.createTextNode("Posted on "+dd+"."+mm+"."+yyyy));
				// Direct reply to the thread
				article#direct-reply.issue
					header
						a.author(href='#')
							img(src="../images/"+user.displayPic._id, alt='profile photo')
					.form-container
						form#form1(class='comment-form', method='post', action="/discussion-board/add-comment/"+issue._id )
							// Reply Input
							.example
								div(data-emojiarea='', data-type='unicode', data-global-picker='true')
									.emoji-button 😄
									textarea(name='comment', placeholder='Write a Comment...')
							// Comment Button
							ul.actions
								li
									a.button.small(href='javascript:;' onclick="document.getElementById('form1').submit();") Comment
				// Pagination
				ul.actions.pagination
					li
						a.button.large.next(href="/artifacts/"+issue.artifactID) Back to artifact
					li
						a.button.large.next(href='/discussion-board') Discussion Board
		// Reply Button Toggle
		script.
			$(document).ready(function(){
			$(document).on('click' , '.reply-button' , function(){
			var closestDiv = $(this).closest('footer'); // also you can use $(this).parent()
			//closestDiv.fadeOut();
			// $('.comment_reply').not(closestDiv.next('.comment_reply')).hide();
			//$('.rep').closest('div').not(closestDiv).show()
			closestDiv.next('.form-container').slideToggle(100);
			});
			$(document).on('click' , '.fa-comment' , function(){
			var closestDiv = $(this).closest('footer'); // also you can use $(this).parent()
			//closestDiv.fadeOut();
			// $('.comment_reply').not(closestDiv.next('.comment_reply')).hide();
			//$('.rep').closest('div').not(closestDiv).show()
			closestDiv.next('.form-container').slideToggle(100);
			});
			});
		// Navigation Bar Scripts
		script(src='../views/navigation-bar/assets/js/jquery.min.js')
		script(src='../views/navigation-bar/assets/js/jquery.scrollex.min.js')
		script(src='../views/navigation-bar/assets/js/jquery.scrolly.min.js')
		script(src='../views/navigation-bar/assets/js/browser.min.js')
		script(src='../views/navigation-bar/assets/js/breakpoints.min.js')
		script(src='../views/navigation-bar/assets/js/util.js')
		script(src='../views/navigation-bar/assets/js/main.js')
